<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.eduManger.ContractMapper.ContractAcademyMapper">

	<select id="contractAcademyList" resultType="com.cafe24.eduManger.ContractVo.ContractAcademy">
		SELECT
			ac_code, 
			ac_name, 
			ac_location, 
			ac_phone, 
			ac_date, 
			member_id 
		FROM
			academy
	</select>
	
	<insert id="contractAcademyInsert" parameterType="com.cafe24.eduManger.ContractVo.ContractAcademy">
 		INSERT INTO academy
			(
			ac_code, 
			ac_name, 
			ac_location, 
			ac_phone, 
			ac_date, 
			member_id
			)
		VALUES 
			(
			#{ac_code}, 
			#{ac_name}, 
			#{ac_location}, 
			#{ac_phone}, 
			NOW(), 
			#{member_id} 
			)
 	</insert>
 	
 	<select id="contractAcademyUpdateById" parameterType="String" resultType="com.cafe24.eduManger.ContractVo.ContractAcademy">
 		SELECT 
			ac_code, 
			ac_name, 
			ac_location, 
			ac_phone, 
			ac_date, 
			member_id 
		FROM 
			academy
		WHERE
			ac_code= #{acCode} 
 	</select>
 	
 	<update id="contractAcademyUpdate" parameterType="com.cafe24.eduManger.ContractVo.ContractAcademy">
	 	UPDATE academy
		SET
			ac_name =		#{ac_name},
			ac_location =	#{ac_location},
			ac_phone =		#{ac_phone},
			ac_date =		NOW(),
			member_id =		#{member_id} 
		WHERE
			ac_code =		#{ac_code}
 	</update>
 	
 	<delete id="contractAcademyDelete" parameterType="com.cafe24.eduManger.ContractVo.ContractAcademy">
 		DELETE 
		FROM 
			academy 
		WHERE 
			ac_code= #{ac_code} 
 	</delete>
</mapper>