<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<style>
		#btnBox { text-align: center; }
	</style>
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">     			
          			<div class="content-panel">
            		    <div class="form-panel">
			              <h2 class="mb"><i class="fa fa-angle-right"></i> 수강료 수정 화면</h2>
			              <form action="/priceLectureUpdate" class="form-horizontal style-form" method="post">
				                <div class="form-group" style="display:none">
				                  <label class="col-sm-2 col-sm-2 control-label">수강료 코드</label>
				                  <div class="col-sm-10">
				                    <input id="price_list_code" name="price_list_code" type="text" class="form-control" th:value="${list.price_list_code}" />
				                  </div>
				                </div>				              
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">강의 종류</label>
				                  <div class="col-sm-10">
				                  	<div class="col-sm-6">
				                  	  <input type="text" class="form-control" th:value="${list.subject_name}" readonly="readonly" />
								  	</div>
								  	<div class="col-sm-6">
								  	  <input type="text" class="form-control" th:value="${list.class_grade}+' - '+ ${list.class_course}" readonly="readonly" />
								  	</div>
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">수강료(원)</label>
				                  <div class="col-sm-10">
				                    <input id="lecture_price" name="lecture_price" class="form-control" type="text" th:value="${list.lecture_price}" />
				                  </div>
				                </div>				         
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">비고</label>
				                  <div class="col-sm-10">
				                    <input id="price_list_etc" name="price_list_etc" type="text" class="form-control" th:value="${list.price_list_etc}" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">등록날짜</label>
				                  <div class="col-sm-10">
				                    <input id="price_list_date" name="price_list_date" type="date" class="form-control" th:value="${list.price_list_date}" readonly="readonly" />
				                  </div>
				                </div>
				                <div style="text-align:center">
				                	<button type="submit" class="btn btn-theme btn-lg">수정하기</button>
				                </div>			
			              </form>
			            </div>
			          </div>
					</div>
				</div>
			</div>
		</section>
	</section>
	</th:block>
</html>      