<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table border="1">
		<thead>
			<tr>
				<th>교재코드</th>
				<th>교재명</th>
				<th>교재가격</th>
				<th>과목별교재수량코드</th>
				<th>과목코드</th>
				<th>학원코드</th>
				<th>교재등록날자</th>
				<th>교재등록아이디</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="${l.booksList}">
				<td th:text="${l.book_code}">
				
			</tr>
		</tbody>
	</table>
	
</body>
</html>