<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">
					<h1>개설된 강의 전체리스트</h1> <!-- 개설될 강의 등록, 수정, 삭제, 조회 관리 / 리스트만 CRUD -->
					
					<form>
						<table>
							<thead>
							 	<tr>
							 		<th>과목코드</th>
							 		<th>학원코드</th>
							 		<th>과목명</th>
							 		<th>등록자 아이디</th>
							 		<th>등록날짜</th>
							 		<th>수정</th>
							 		<th>삭제</th>
							 	</tr>
							</thead>
							
							<tbody>
							</tbody>
						</table>
						
					</form>
					
				</div>
			</div>
		</section>
	</section>
	</th:block>
</html>
          