<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-sm-12 main-chart">
				<div class="content-panel">
            		    <div class="form-panel">
					<h2 class="mb"><i class="fa fa-angle-right"></i> 과목 수정하기</h2>
					<br/>
					<div class="container">
										
						 <table class="table table table-striped table-advance table-hover">
						    <thead>
						      <tr>
						      	<th>과목코드</th>	<!-- sub_code -->
						        <th>학원코드</th> <!-- ac_code -->
						        <th>과목명</th> <!-- sub_name -->						   
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						      	<td>
						      		<input th:value="${subjectUpdate.sub_code}" readonly="readonly">
						      	</td>
						      	<td> 
						      		<input th:valye="${subjectUpdate.ac_code}">
						      	</td>
						        <td>
						        	<input type="text" class="form-control" style="width:200px;" th:value="${subjectUpdate.sub_name}">
						        </td>
						        <td>
						        	<a href="@{/getsubjectList}"><button type="button" class="btn btn-theme">수정완료</button></a>
						        </td>
						      </tr>						     
						    </tbody>
						  </table>
						  </div>
					</div> <!-- form-panelEnd -->
					</div> <!-- content-panelEnd -->
				</div> <!-- grid12 divEnd -->	
			</div> 		
		</section>
	</section>
	</th:block>
</html>
          