<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-sm-12 main-chart">
				<div class="content-panel">
            		    <div class="form-panel">
					<h2 class="mb"><i class="fa fa-angle-right"></i> 과목 추가하기</h2>
					<br/>
					<div class="container">
					<button type="button" class="btn btn-theme" onclick="location.href='stuScoreInsert'">과목 추가</button>
					<p/>
					<!-- *************************************************
							과목추가하기 
						*************************************************-->						
						 <table class="table table table-striped table-advance table-hover">
						    <thead>
						      <tr>
						        <th>학원코드</th> <!-- ac_code -->
						        <th>과목명</th> <!-- sub_name -->
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						      	<td> 
						      		<input type="text">
						      	</td>
						        <td>
						        	<input type="text">
						        </td>
						        </tr>						     
						    </tbody>
						  </table>
						  </div>
					</div> <!-- form-panelEnd -->
					</div> <!-- content-panelEnd -->
				</div> <!-- grid div4End -->	
			</div> 		
		</section>
	</section>
	</th:block>
</html>
          