<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<title>회원목록</title>
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		    <!-- **********************************************************************************************************************************************************
	        MAIN CONTENT
	        *********************************************************************************************************************************************************** -->
	    <section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-12 main-chart">     			
          			<div class="content-panel">
            		    <div class="form-panel ">
				              <table class="table table-striped table-advance table-hover">
				                <h2><i class="fa fa-angle-right">차량시간표</i></h2>
				                <form action="/bustimeSearch" method="get" >
				                	  <div class="col-sm-2">								  
							  	<select name="sk" class="form-control">
							  		<option value="">전체</option>
							  		<option value="1호차">1호차</option>
									<option value="2호차">2호차</option>
									<option value="3호차">3호차</option>
								  	</select>
								  </div>	
				                <!-- 조건입력창 -->
								  <div class="col-sm-3">
								  	<input name="sv" type="text" class="form-control" placeholder="Search" />
								  </div>
								  <div>
								  	<button type="submit" class="btn btn-theme">차량검색</button>
								  	<a href="/bustimeInsert"><button type="button" class="btn btn-theme pull-right">차량시간표추가</button></a>	
								  </div>	
								  </form>		
				                <!--  조건입력END -->
				                <br/>
				                <br/>
				                <div class="container">            
								    <thead>
								      <tr>
								        <th>등록자아이디</th>
								        <th>버스정보</th>
								        <th>정류장</th>
								        <th>A타임</th>
								        <th>B타임</th>
								        <th>버스운행일</th>
								        <th>수정날짜</th>
								        <th>수정</th>
								        <th>삭제</th>
								         <td class="col-sm-0">
								        </td>
								      </tr>
								    </thead>
								    <tbody>
									   <tr th:each="s: ${bustime}">
									    <td th:text="${s.member_id}"></td>
									    <td th:text="${s.car_info}"></td>
									    <td th:text="${s.bus_station}"></td>
								        <td th:text="${s.bus_A_time}"></td>
								        <td th:text="${s.bus_B_time}"></td>
								        <td th:text="${s.bus_day}"></td>
								        <td th:text="${s.bus_time_date}"></td>
								        <td>
					                      <a th:href="@{/bustimeUpdate(busstation=${s.bus_station})}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>				                      
					                   </td>
					                    <td>
					                      <button class="btn btn-danger btn-xs btnDelete" th:data-bustime="${s.bus_time_code}"><i class="fa fa-trash-o "></i></button>
    				                    </td>
	     			                 </tr>
	     			            </tbody>
				     	    </table>
				     	       <!-- The Modal -->
						  <div class="modal fade" id="deleteModal">
						    <div class="modal-dialog modal-sm">
						      <div class="modal-content">
						        <div class="modal-body">
						          <h4>정말 삭제하시겠습니까?</h4>
						        </div>
						        <div class="modal-footer">
						          <button class="btn btn-danger" id="deleteBtn">YES</button>
						          <button class="btn btn-danger" data-dismiss="modal">No</button>
						        </div>
						      </div>
						    </div>
						  </div>
						<!-- The Modal END -->
					      </div>
				        </div>
				      </div>
					</div>
				</section>
			</section>	
			<script type="text/javascript">
			$(document).ready(function(){
				$('.btnDelete').click(function(){				
					var bustime = $(this).attr('data-bustime');
					$('#deleteBtn').val(bustime);			
					$('#deleteModal').modal('show');
				});
				
				$('#deleteBtn').click(function(){
					var bustime = $(this).val();									
					//alert(busline);
					location.href = '/bustimeDelete?bustime='+ bustime;
				});				
			});
		</script>	
	</th:block>
</html>