<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">
					<h1>학년 및 수업과정 분류</h1>
					<br/>
					<br/>
					<button>수업과정 추가하기</button>
					<br/>
					<div class="container">
						 <table class="table table-hover">
						    <thead>
						      <tr>
						        <th>학년 및 수업과정 분류코드</th>
						        <th>학원코드</th>
						        <th>학년명</th>
						        <th>수업과정</th>
						        <th>등록자아이디</th>
						        <th>등록날짜</th>
						        <th>수정</th>
						        <th>삭제</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>class_level001</td>
						        <td>ac001</td>
						        <td>중학교 1학년</td>
						        <td>기초반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level002</td>
						        <td>ac001</td>
						        <td>중학교 1학년</td>
						        <td>심화반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level003</td>
						        <td>ac001</td>
						        <td>중학교 2학년</td>
						        <td>기초반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level004</td>
						        <td>ac001</td>
						        <td>중학교 2학년</td>
						        <td>심화반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level005</td>
						        <td>ac001</td>
						        <td>중학교 3학년</td>
						        <td>기초반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level006</td>
						        <td>ac001</td>
						        <td>중학교 3학년</td>
						        <td>심화반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level007</td>
						        <td>ac001</td>
						        <td>고등학교 1학년</td>
						        <td>기초반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level008</td>
						        <td>ac001</td>
						        <td>고등학교 1학년</td>
						        <td>심화반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level009</td>
						        <td>ac001</td>
						        <td>고등학교 2학년</td>
						        <td>기초반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level010</td>
						        <td>ac001</td>
						        <td>고등학교 2학년</td>
						        <td>심화반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level011</td>
						        <td>ac001</td>
						        <td>고등학교 3학년</td>
						        <td>기초반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>class_level012</td>
						        <td>ac001</td>
						        <td>고등학교 3학년</td>
						        <td>심화반</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						    </tbody>
						  </table>
					</div> <!-- table div -->
					
				</div> <!-- grid div -->
			</div>
		</section>
	</section>
	</th:block>
</html>
          