<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">
				<h3>강의별 수강료 정보 목록을 보여줄 화면입니다.</h3>
				<table border="1">
					<tr>
						<td>강의실코드</td>
						<td>강의실번호</td>
						<td>강의실위치</td>
						<td>날짜</td>
						<td>학원코드</td>
						<td>작성자코드</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
				</div>
			</div>
		</section>
	</section>
	</th:block>
</html>