<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.eduManger.StudentMapper.StuPiMapper">
 	<select id="stuList" parameterType="String" resultType="com.cafe24.eduManger.StudentVo.Stu_pi">
 		SELECT 
			 c.ac_code AS ac_code 
			,a.stu_info_code
			,b.member_id AS m_id 
			,member_name AS m_name 
			,member_gender AS m_gender 
			,ac_name
		FROM Stu_PI a 
		inner JOIN member AS b 
		INNER JOIN academy AS c
			ON b.member_level = '수강생'
			WHERE b.ac_code LIKE CONCAT ('%',#{ac_code},'%')
			AND b.ac_code = c.ac_code
			AND a.stu_id = b.member_id
 	</select>
 	
 	<select id="stuPi" parameterType="String" resultType="com.cafe24.eduManger.StudentVo.Stu_pi">
 		 SELECT 
			stu_info_code, 
			stu_id, 
			member_name AS m_name, 
			member_gender AS m_gender, 
			stu_school, 
			parents_phone, 
			stu_brother, 
			stu_info_etc 
		FROM Stu_PI AS a
		INNER JOIN member AS b
			ON member_level = '수강생'
			AND a.stu_id = b.member_id 
			WHERE stu_info_code = #{stuInfo}
 	</select>
 	
 	<update id="stuPiUpdate" parameterType="com.cafe24.eduManger.StudentVo.Stu_pi">
 		UPDATE Stu_PI a INNER JOIN member b
		ON a.stu_id = b.member_id
			SET		
				b.member_name=#{m_name}, 
				b.member_gender=#{m_gender}, 
				stu_school=#{stu_school}, 
				parents_phone=#{parents_phone}, 
				stu_brother=#{stu_brother}, 
				stu_info_etc=#{stu_info_etc} 
			WHERE stu_info_code=#{stu_info_code}
 	</update>
 	
 	<select id="stuPiSearch" parameterType="String" resultType="com.cafe24.eduManger.StudentVo.Stu_pi">
 		SELECT 
			member_id AS m_id, 
			b.ac_code AS ac_code, 
			member_name AS m_name, 
			member_gender AS m_gender,  
			stu_info_code 
		FROM Stu_PI AS a
		INNER JOIN member AS b
			ON member_level = '수강생'
			AND a.stu_id = b.member_id 
			WHERE ${sk} LIKE CONCAT('%',#{sv},'%')		
 	</select>
 </mapper>