<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
		<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-12 main-chart">     			
          			<div class="content-panel">
            		    <div class="form-panel">           	
			              <form class="form-horizontal style-form" method="post">
			              <h2 class="mb"><i class="fa fa-angle-right">차량등록</i> </h2>
			              <br/>
			              <br/>
			              <br/>
			              <h3 class="mb">-차량정보</h3>
			              <div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">버스코드</label>
			                  <div class="col-sm-2">
			                    <input type="text" class="form-control" id="bus_code" name="bus_code">		                
			                  </div>
			                </div>
			                <div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">등록자아이디</label>
			                  <div class="col-sm-2">
			                    <input type="text" class="form-control" id="member_id" name="member_id">		                
			                  </div>
			                </div>
			                <div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">학원코드</label>
			                  <div class="col-sm-2">
			                    <input type="text" class="form-control" id="ac_code" name="ac_code">		                
			                  </div>
			                </div>
			                <div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">차량번호판</label>
			                  <div class="col-sm-2">
			                    <input type="text" class="form-control" id="bus_number" name="bus_number">		                
			                  </div>
			                </div>
			                <div class="form-group">
			                  <label class="col-sm-1 col-sm-1 control-label">차종</label>
							   <div class="form-check-inline">
							  <label class="form-check-label">
							    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" class="form-check-input" id="bus_cate" name="bus_cate" value="대형">대형</input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;					  
							    <input type="radio" class="form-check-input" id="bus_cate" name="bus_cate" value="중형">중형</input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							    <input type="radio" class="form-check-input" id="bus_cate" name="bus_cate" value="소형">소형</input>							    
							  </label>							  
							</div>
							</div>
							<div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">기사성함</label>
			                  <div class="col-sm-2">
			                    <input type="text" class="form-control" id="bus_driver" name="bus_driver">		                
			                  </div>
			                </div>
			                <div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">기사휴대폰번호</label>
			                  <div class="col-sm-2">
			                    <input type="text" class="form-control" id="bus_driver_phone" name="bus_driver_phone">		                
			                  </div>
			                </div>
			                <div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">호차번호</label>
			                  <div class="col-sm-2">
			                    <input type="text" class="form-control" id="bus_num" name="bus_num">		                
			                  </div>
			                </div>
			                <div class="form-group">
			                  <label class="col-sm-1 col-sm-1 control-label">승차정원</label>
			                  <div class="col-sm-2">
			                    <input class="form-control" type="text" id="bus_limit" name="bus_limit">
			                  </div>					                                    
			                </div>
			                <div class="form-group">
			              <label class="col-sm-1 col-sm-1 control-label">등록날짜</label>
			                  <div class="col-sm-2">
			                    <input type="date" class="form-control" id="bus_date" name="bus_date">		                
			                  </div>
			                </div>
				      <tr>
				        <td>					
			              <h3 class="mb">-노선선택</h3>		            	             																												
								<div class="num">
								<input type="radio" class="form-check-input" id="line_select" name="line_select" value="1호차 고대구로병원,대림역,목동14단지 방면">1호차		
								</div>	
								<div class="subject">									
								<h4>고대구로병원,대림역,목동14단지 방면</h4>
						        <a href="#demo" class="btn btn-primary" data-toggle="collapse">노선보기</a>
						 		 <div id="demo" class="collapse">																                 																		
								 구로성당 → 유엔미 아파트 → 소방지구대 → 고대구로병원 → 남구로고개 → 남구로역 1번출구 → 한신,두산 아파트 
								→ 이화우성 아파트 → 대림역7번출구 → 신동아 아파트 → 거리공원 → 태영아파트 사거리 → 주유소 앞 → 신도림역 
								→ 신도림 중학교 → 대림5차아파트 → 대림3차아파트 → 미성아파트 → 목동14단지 아파트상가 → 학원도착		
									<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
							        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
							        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>  																		
								</div>											
									
								</div>																	
								</td>
								</tr>
												 
							     <tr>
							     <td>																									
								<div class="num">
								<input type="radio" class="form-check-input" id="line_select" name="line_select" value="2호차 유한대학,동부골든아파트,칼산우성아파트 방면">2호차		
								</div>	
								<div class="subject">									
								<h4>유한대학,동부골든아파트,칼산우성아파트 방면</h4>
						        <a href="#demot" class="btn btn-primary" data-toggle="collapse">노선보기</a>
						 		 <div id="demot" class="collapse">																                 																		
								 유한대학 → 유한공고 → 금강빌라 → 영풍아파트 → 오류파출소 → 동부골든아파트 → 거성푸르뫼 → 
								 개봉푸르지오 → 고척그린공원 → 온누리백제약국 → 칼산우성아파트 → 식자재마트 → 학원도착	
									 <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
							        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
							        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>																		
								</div>											
								</div>																	
								</td>
								</tr>
							     <tr>
							     <td>																								
								<div class="num">
								<input type="radio" class="form-check-input" id="line_select" name="line_select" value="3호차 개봉한진,고척우체국,신서초 방면">3호차		
								</div>	
								<div class="subject">									
								<h4>개봉한진,고척우체국,신서초 방면</h4>
						        <a href="#demop" class="btn btn-primary" data-toggle="collapse">노선보기</a>
						 		 <div id="demop" class="collapse">																                 																		
								 현대,삼호아파트 → 개봉삼환아파트 → 구로성모병원 → 영화아파트정문 → 한마을아파트
								 → 고산초등학교 → 청구아파트 → 고척우체국 → 고척파출소 건너 
								 → 계남초 입구 → 목동10단지B상가 → 목동프라자 → 신서초후문 → 학원도착			
								 	<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
							        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
							        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>																	
								</div>											
								</div>																	
								</td>
								</tr>	
								<div style="text-align:center">
	          				<a href="/busList"><button type="submit" class="btn btn-theme btn-lg">차량등록</button></a>
	        			</div>								
					     	</form>
						</div>
					 </div>
					 </div>
					 </div>
			</section>
		</section>							
	</th:block>
</html>