<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
   	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">
					<h1>등록된차량관리</h1>
					<br/>
					<br/>
					<a href="/busInsert"><button type="button" class="pull-right btn btn-theme">차량등록</button></a>
					<br/>
					<div class="container">
						 <table class="table table-hover">
						    <thead>
						      <tr>
						        <th>차량번호</th>
						        <th>차종</th>
						        <th>기사성함</th>
						        <th>호차번호</th>
						        <th>승차정원</th>
						        <th>등록자아이디</th>
						        <th>등록날짜</th>
						        <th>조회</th>
						        <th>수정</th>
						        <th>삭제</th>	
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>13어5545</td>
						        <td>대형</td>
						        <td>성일환</td>
						        <td>1호차</td>
						        <td>20</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>조회</button></td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						         <td>45오1254</td>
						        <td>대형</td>
						        <td>김국진</td>
						        <td>2호차</td>
						        <td>21</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>조회</button></td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						         <td>35조4512</td>
						        <td>대형</td>
						        <td>김구라</td>
						        <td>3호차</td>
						        <td>20</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>조회</button></td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						         <td>65오4652</td>
						        <td>대형</td>
						        <td>차민수</td>
						        <td>4호차</td>
						        <td>22</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>조회</button></td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						         <td>36더1475</td>
						        <td>대형</td>
						        <td>최진혁</td>
						        <td>5호차</td>
						        <td>20</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>조회</button></td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>
						      <tr>
						        <td>58더8992</td>
						        <td>대형</td>
						        <td>김승구</td>
						        <td>6호차</td>
						        <td>20</td>
						        <td>idad001</td>
						        <td>2019-08-03</td>
						        <td><button>조회</button></td>
						        <td><button>수정</button></td>
						        <td><button>삭제</button></td>
						      </tr>					    
						    </tbody>
						  </table>
					</div> <!-- table div -->				
				</div> <!-- grid div -->
			</div>
		</section>
	</section>
	</th:block>
</html>