
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
</head>
<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>
<th:block layout:fragment="customContents">

	<!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
	<!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-sm-9 main-chart">
					<div class="content-panel">
						<div class="form-panel">
							<h2 class="mb">
								<i class="fa fa-angle-right"></i> 강사 경력정보
							</h2>
							<br />
							<button type="button" class="btn btn-theme" onclick="location.href='profesCarInsert'">경력추가하기</button>
							<p />
				<!-- *************************************************
						강사 경력정보 리스트 
					 *************************************************-->
							<table class="table table table-striped table-advance table-hover">
								<thead>
									<tr>
										<th>강사경력정보코드</th>
										<th>강사아이디</th>
										<th>강사이력</th>
										<th>기관명</th>
										<th>기관근무시작일</th>
										<th>기관근무종료일</th>
										<th>등록자아이디</th>
										<th>정보등록일</th>
										<th>수정</th>
										<th>삭제</th>
									</tr>
								 </thead>
								 <tbody>
									<tr>
										<td><a href="#">idprcar001</a></td>
										<td>idpr01</td>
										<td>하버드수석입학</td>
										<td>하버드대학교</td>
										<td>2007-10-11</td>
										<td>2011-11-12</td>
										<td>idad001</td>
										<td>2019-12-31</td>
										<td><button class="btn btn-primary btn-xs" onclick="location.href='profesCarUpdate'">
												<i class="fa fa-pencil"></i>
											</button>
										</td>
										<td><button class="btn btn-danger btn-xs" onclick="location.href='profesCarDelete'">
												<i class="fa fa-trash-o"></i>
											</button>
										</td>
									</tr>
								 </tbody>
							</table>
						</div>	<!-- form-panel End -->
					</div>	<!-- content-panel End -->
				</div>	<!-- grid9 div1 End -->


<!-- **********************************	하위 panel START  ********************************** -->
				<div class="col-sm-9 main-chart">
					<div class="content-panel">
						<div class="form-panel">
							<h3 class="mb"><i class="fa fa-angle-right"></i> 강사 경력 상세</h3>
							1234
						</div>	<!-- content-panel 2 -->
					</div>	<!-- form-panel 2 -->
				</div>	<!-- grid9 div 2 End -->
<!-- **********************************	하위 panel END  ********************************** -->


<!-- *********************right panel************************** -->
				<div class="col-lg-3 ds">
					<div class="donut-main">
						
			<!--**************
				조건입력창
				************** -->
						<form action="/profesCareerInsert" method="post">
							<div class="input-group">
								<table>
									<tr>
										<td><select class="form-control">
												<option>검색조건</option>
												<option>학원코드</option>
												<option>강사코드</option>
												<option>강사명</option>
										</select></td>
										<td><input name="sv" type="text" class="form-control"
											placeholder="search"></td>
										<td><span class="input-group-btn">
												<button type="submit" class="btn btn-theme">검색</button>
										</span></td>
									</tr>
								</table>
							</div>
					</div>
					</form>
			<!-- **********
				조건입력END
				*********** -->
				
					<br /> <br /> <br />
					<table
						class="table table-striped table-advance table-hover table-bordered">
						<thead>
							<tr>
								<th>강사아이디</th>
								<th>이름</th>
								<th>학원코드</th>
								<th>조회</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${stuList}">
								<td th:text="${l.ac_code}"></td>
								<td th:text="${l.m_id}"></td>
								<td th:text="${l.m_name}"></td>
								<td><a
									th:href="@{/stuPiList(stu_info_code=${l.stu_info_code})}">조회</a></td>
							</tr>
						</tbody>
					</table>
				</div>	<!-- grid3 div END -->
			</div> <!-- row div END -->
		</section>
	</section>
</th:block>
</html>
