<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<title>계약목록</title>
<script>
	$(document).ready(function(){
		$('deleteBtn').click(function(){
			console.log('확인');
		});
	});
</script>
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		    <!-- **********************************************************************************************************************************************************
	        MAIN CONTENT
	        *********************************************************************************************************************************************************** -->
	<section id="main-content">
	<section class="wrapper">
		<div class="row">
			<div class="col-lg-12 main-chart">     			
				<div class="content-panel">
					<div class="form-panel ">
						<table class="table table-striped table-advance table-hover">
							<h2><i class="fa fa-angle-right"></i>계약 지점 목록</h2>
							<hr/>
							<div class= "row">
							<!-- Select조건입력 -->
							<form action="/contractAcademySearch" method="post">
							
								<div class="col-sm-1">
								 	<select name="cak" class="form-control">
								 		<option value="select">선택</option>
								 		<option value="ac_name">학원이름</option>
								 		<option value="member_id">계약담당자</option>
								 	</select>					 									  	
								</div>
								<div class="col-sm-2">
									<input name="cav" type="text" class="form-control" placeholder="Search" />
								</div>
								<div class="row col-sm-4">
									<div class="col-sm-5">
										<input name="cafd" type="date" class="form-control" />
									</div>
									<div class="col-sm-2"><h5>부터</h5></div>
									<div class="col-sm-5">
										<input name="cald" type="date" class="form-control" />
									</div>
								</div>
								<div class="col-sm-1">								
									<button type="submit" class="btn btn-theme">검색</button>
								</div>
							</form>
								<div class="col-sm-1 col-sm-offset-3">
									<button type="button" class="btn btn-theme"><a href="/contractAcademyInsert" style="color:#ffffff">지점 추가</a></button>
								</div>				
							</div>
							<!--  조건입력END -->
							<br/>
							<br/>
			                <thead>
			                  <tr>
			                    <th th:if="${session.SID.equals('MASTER1')}">학원코드</th>
			                    <th>학원이름</th>
			                    <th>지점명</th>
			                    <th>전화번호</th>
			                    <th>지점등록일</th>
			                    <th>계약담당자</th>
							<!-- 계약담당자일때만 수정/삭제버튼이 보이도록 조건 추가 -->
			                    <th th:if="${session.SID.equals('MASTER1')}">수정</th>
							    <th th:if="${session.SID.equals('MASTER1')}">삭제</th>
			                  </tr>
			                </thead>
			                <tbody>
			                  <tr th:each="ca: ${contractAcademyList}" >
			                    <td th:if="${session.SID.equals('MASTER1')}" th:text="${ca.ac_code}"></td>
			                    <td th:text="${ca.ac_name}"></td>
			                    <td th:text="${ca.ac_location}"></td>
			                    <td th:text="${ca.ac_phone}"></td>
			                    <td th:text="${ca.ac_date}"></td>
			                    <td th:text="${ca.member_id}"></td>
			                    <td th:if="${session.SID.equals('MASTER1')}">
			                      <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-check"></i></button>
			                      <button class="btn btn-primary btn-xs"><a th:href="@{/contractAcademyUpdateById(ac_code=${ca.ac_code})}" style="color:#ffffff"><i class="fa fa-pencil"></i></a></button>
			                    </td>
			                    <td th:if="${session.SID.equals('MASTER1')}">  
			                      <button class="btn btn-danger btn-xs"><a th:href="@{/contractAcademyDelete(ac_code=${ca.ac_code})}" style="color:#ffffff"><i class="fa fa-trash-o "></i></a></button>
			                    </td>
			                  </tr>				                     				                 
			                </tbody>
						</table>
						<!-- The Modal -->
						  <div class="modal fade" id="deleteModal">
						    <div class="modal-dialog modal-sm">
						      <div class="modal-content">
						        <div class="modal-body">
						          <h4>정말 삭제하시겠습니까?</h4>
						        </div>
						        <div class="modal-footer">
						          <button class="btn btn-danger">YES</button>
						        </div>
						      </div>
						    </div>
						  </div>
						<!-- The Modal END -->
					</div>
				</div>
			</div>
		</div>

	</section>
	</section>
	
	</th:block>
</html>


