<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<style>
		#btnBox { text-align: center; }
	</style>
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">     			
          			<div class="content-panel">
            		    <div class="form-panel">
			              <h2 class="mb"><i class="fa fa-angle-right"></i> 계약 지점 추가</h2>
			              <form action="/contractAcademyInsert" class="form-horizontal style-form" method="post">
				                <div class="form-group" > <!-- style="display:none"  -->
				                  <label class="col-sm-2 col-sm-2 control-label">학원코드</label>
				                  <div class="col-sm-10">
				                    <input id="ac_code" name="ac_code" type="text" class="form-control" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">학원이름</label>
				                  <div class="col-sm-10">
								  	<input id="ac_name" name="ac_name" type="text" class="form-control" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">지점명</label>
				                  <div class="col-sm-10">
				                    <input id="ac_location" name="ac_location" type="text" class="form-control" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">전화번호</label>
				                  <div class="col-sm-10">
				                    <input id="ac_phone" name="ac_phone" class="form-control" type="text" />
				                  </div>
				                </div>		
				                <div class="form-group" style="display:none">
				                  <label class="col-sm-2 col-sm-2 control-label">지점등록일</label>
				                  <div class="col-sm-10">
				                    <input id="ac_date" name="ac_date" type="date" class="form-control" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">계약담당자</label>
				                  <div class="col-sm-10">
				                    <input id="member_id" name="member_id" class="form-control" type="text" />
				                  </div>
				                </div>	
				                <div style="text-align:center">
				                	<button type="submit" class="btn btn-theme btn-lg">추가하기</button>
				                </div>			
			              </form>
			            </div>
			        </div>
				</div>
			</div>
		</section>
	</section>
	</th:block>
</html>
           
          
           