<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.eduManger.LectureMapper.AcademyTimeTableMapper">
 	
 	<select id="adminList" parameterType="String" resultType="com.cafe24.eduManger.MemberVo.Member">
 		SELECT
			member_name AS m_name, 
			ac_code
		FROM member
		WHERE member_level LIKE CONCAT ('%','관리자','%')
		AND ac_code LIKE CONCAT ('%',#{acCode},'%')
 	</select>
 	
 	<select id="subjectList" resultType="com.cafe24.eduManger.LectureVo.Subject">
 		SELECT
			subject_name AS sub_name
		FROM subject
 	</select>
 	
 	<select id="academyTimeTableList" parameterType="String" resultType="com.cafe24.eduManger.LectureVo.AcademyTimeTable">
	 	SELECT 
			*
		FROM ac_timetable
		WHERE ac_code LIKE CONCAT ('%',#{acCode},'%')
 	</select>
 	
 	<select id="academyTimeTableMaxCount" resultType="int">
 		SELECT
			MAX(CAST(SUBSTRING(_id,18) AS DECIMAL)) AS maxcol
		FROM ac_timetable
 	</select>
 	
 	<insert id="academyTimeTableInsert" parameterType="com.cafe24.eduManger.LectureVo.AcademyTimeTable">
 		INSERT INTO ac_timetable
			(
			_id, 
			title, 
			description, 
			`start`, 
			`end`, 
			`type`, 
			username, 
			backgroundColor, 
			textColor, 
			allDay,
			ac_code
			)
			VALUES (
			#{_id}, 
			#{title}, 
			#{description}, 
			#{start}, 
			#{end}, 
			#{type}, 
			#{username}, 
			#{backgroundColor}, 
			#{textColor}, 
			#{allDay},
			#{ac_code}
			)
 	</insert>
 	
 	<update id="dayUpdate" parameterType="com.cafe24.eduManger.LectureVo.AcademyTimeTable">
 		UPDATE ac_timetable
		SET
			`start`=#{start},
			`end`=#{end}
		WHERE _id=#{_id}
 	</update>
 	<update id="academyTimeTableUpdate" parameterType="com.cafe24.eduManger.LectureVo.AcademyTimeTable">
 		UPDATE ac_timetable
		SET
			title=#{title},
			description=#{description},
			`start`=#{start},
			`end`=#{end},
			`type`=#{type},
			backgroundColor=#{backgroundColor},
			allDay=#{allDay}
		WHERE _id=#{_id}
 	</update>
 	<delete id="academyTimeTableDelete" parameterType="String">
 		DELETE FROM ac_timetable WHERE _id=#{id}
 	</delete>
 	
 </mapper>