<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.eduManger.LectureMapper.ClassLevelMapper">
 	
 	<select id="ClassLevelList" resultType="com.cafe24.eduManger.LectureVo.ClassLevel">
 		SELECT 
			class_level_code
			, ac_code
			, member_id AS m_id
			, class_grade
			, class_course
			, class_level_date
		FROM 
			class_level
 	</select>
 
 	
 	<delete id="classLevelDel" parameterType="String">
 		DELETE FROM 
			class_level 
		WHERE 
			class_level_code=#{classLevelDel}
 	</delete>
 	
 	
 	<insert id="classLevelInsert" parameterType="com.cafe24.eduManger.LectureVo.ClassLevel">
 		INSERT INTO
			class_level (
				class_level_code
				, ac_code
				, member_id
				, class_grade
				, class_course
				, class_level_date
				)
			VALUES (
				'classLevel16'
				, 'ac003'
				, 'idad003'
				, #{class_grade}
				, #{class_course}
				, NOW()
				)
 		
 	</insert>
 </mapper>