<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cafe24.eduManger.LectureMapper.LectureMapper">
  
  <select id="lectureList" resultType="com.cafe24.eduManger.LectureVo.Lecture">
  	SELECT 
		lecture_code AS lec_code
		, ac_code AS ac_code
		, member_id AS m_id
		, room_code AS room_code
		, member_id2 AS mem_id
		, subject_code AS sub_code
		, class_level_code AS clle_code
		, lecture_stu_num AS lec_stu_num
		, lecture_start AS lec_start
		, lecture_end AS lec_end
		, lecture_date AS lec_date
	FROM
		lecture
  </select>
  
  
  <delete id="LectureDelete" parameterType="String">
  	DELETE FROM 
		lecture 
	WHERE 
		lecture_code=#{lectureDel}	
  </delete>
  
  <insert id="LectureInsert" parameterType="com.cafe24.eduManger.LectureVo.Lecture">
  	INSERT INTO 
		lecture(
		lecture_code
		, ac_code
		, member_id
		, room_code
		, member_id2
		, subject_code
		, class_level_code
		, lecture_stu_num
		, lecture_start
		, lecture_end
		, lecture_date
		)
	VALUES (
		'lecture008'
		, 'ac001'
		, #{m_id}
		, #{room_code}
		, 'idad001'
		, #{sub_code}
		, #{clle_code}
		, 0
		, #{lec_start}
		, #{lec_end}
		, NOW()
		)
  </insert>
  
  <!-- insert화면의 저장값 쿼리문 START -->
		<!-- id -->
			  <select id="lecMidInsertList" resultType="com.cafe24.eduManger.LectureVo.Lecture">
				SELECT 
					member_id AS m_id
					, room_code
					, subject_code AS sub_code
					, class_level_code AS clle_code
				FROM 
					lecture
			  </select>
  		<!-- room_code -->
		<!-- sub_code -->
		<!-- clle_code -->
	

  <!-- insert화면의 저장값 쿼리문 END -->

  
  
  </mapper>