<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
  		*** 입력값이 무엇인지, 리턴값이 무엇인지 항상 생각해야한다..!!!!!
		resultType : 결과반환 Object
		parameterType : 조회결과 Object
		파라미터의 값은 #{이름}
		파라미터 명의 ${이름}
   -->
  
  
  <mapper namespace="com.cafe24.eduManger.LectureMapper.SubjectMapper">
  	<select id="subjectList" parameterType="String" resultType="com.cafe24.eduManger.LectureVo.Subject">
  		SELECT  
			subject_code AS sub_code
			,ac_code AS ac_code
			,member_id AS m_id
			,subject_name AS sub_name
			,subject_date AS sub_date
		FROM subject
	 	WHERE ac_code LIKE CONCAT ('%',#{sAcode},'%')
  	</select>
  		
  	<!-- 어차피 int로 정해져있기때문에 resultType자체를 쓰지말라고 함;; 쓰면 에러남.. -->	
  	<insert id="subjectInsert" parameterType="com.cafe24.eduManger.LectureVo.Subject">
  		INSERT INTO 
			subject (
			subject_code
			, ac_code
			, member_id
			, subject_name
			, subject_date
			)
		VALUES (
			#{sub_code}
			, #{ac_code}
			, #{m_id}
			, #{sub_name}
			, now()
			)
  	</insert>
  
  	<delete id="subjectDelete" parameterType="String">
  		DELETE FROM 
  			subject 
  		WHERE 
  			subject_code=#{subcodeDel}		
  	</delete>
  
  <!-- update를 하기 위해서 일단 정보를 받아와야 함 -->
  	<select id="subjectUpdate" parameterType="String" resultType="com.cafe24.eduManger.LectureVo.Subject" >
  		SELECT 
			subject_code as sub_code, 
			ac_code as ac_code, 
			member_id as m_id, 
			subject_name as sub_name, 
			subject_date as sub_date
				FROM subject
		WHERE 
			subject_code = #{subcodeUp}
  	</select>
  	
  	<select id="subjectCountMaxcol" resultType="int">
  		SELECT
			MAX(CAST(SUBSTRING(subject_code,8) AS DECIMAL)) AS maxcol
		FROM subject
  	</select>
  	
  	
  
  </mapper>