<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-sm-12 main-chart">
				<div class="content-panel">
            		    <div class="form-panel">
					<h2 class="mb"><i class="fa fa-angle-right"></i> 강사 경력정보</h2>
					<br/>
					
					<button type="button" class="btn btn-theme" onclick="location.href='profesCareerInsert'">성적 입력하기</button>
					<!-- *************************************************
							성적 리스트 
						*************************************************-->
						 <table class="table table table-striped table-advance table-hover">
						    <thead>
						      <tr>
						        <th>학생별학교성적정보코드</th>
						        <th>학원코드</th>
						        <th>학생아이디</th>
						        <th>과목코드</th>
						        <th>시험회차</th>
						        <th>시험분류</th>
						        <th>점수</th>
						        <th>등급</th>
						        <th>시험일</th>
						        <th>성적저장일</th>
						        <th>관리자아이디</th>
						        <th>수정</th>
						        <th>삭제</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						      	<td>stu_score001</td>
						        <td>ac001</td>
						        <td>id001</td>
						        <td>subject001</td>
						        <td>1학기</td>
						        <td>중간고사</td>
						        <td>72</td>
						        <td>4</td>
						        <td>2019-07-03</td>
						        <td>2019-08-16</td>
						        <td>idad001</td>
						        <td><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></td>
						        <td><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></td>
						      </tr>						     
						    </tbody>
						  </table>
					</div> <!-- content-panelEnd -->
					</div> <!-- form-panelEnd -->
				</div> <!-- grid div4End -->	
			</div> 		
		</section>
	</section>
	</th:block>
</html>
          