<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<title>회원목록</title>
	<style>	
		 #bener {
		  height: 800px; 
		  background:#D8D8D8;
		  top:0px;
		} 
	</style>
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		    <!-- **********************************************************************************************************************************************************
	        MAIN CONTENT
	        *********************************************************************************************************************************************************** -->		
	<section id="main-content">
		<section class="wrapper">
			<div class="row">			
				<!-- *********************right panel************************** -->			
				<div id=bener class="col-lg-3 col-lg-push-9" >
					<!--COMPLETED ACTIONS DONUTS CHART-->
					<div class="donut-main">
			<!-- **************조건입력창*************** -->
						<h2>학생리스트</h2>
						<br/>						
						<form action="/stuCounselSearch" method="post">
							<div class="row" >
								<div class="col-sm-4" >							
									<span class="input-group">
										<select name="sk" class="form-control">
											<option value="select">선택</option>
											<option value="a.member_id">아이디</option>
											<option value="a.ac_code">학원코드</option>
											<option value="member_name">이름</option>											
										</select>	
									</span>			 									  	
								</div>	
								<div class="col-sm-8">																		
									<div class="input-group">
										<input name="sv" type="text" class="form-control" placeholder="Search" >
										<span class="input-group-btn">
											<button type="submit" class="btn btn-theme">회원검색</button>									
										</span>
									</div>
								</div>
							</div>
						</form>			
			<!--  ***************조건입력END*************** -->
						<br/>
						<br/>
						<br/>
						<table class="table table-striped table-advance table-hover table-bordered">
							<thead>
								<tr>							
									<th>학원코드</th>
									<th>아이디</th>
									<th>이름</th>
									<th>성별</th>
									<th>조회</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="l:${stuList}">
									<td th:text="${l.ac_code}"></td>
						  			<td th:text="${l.m_id}"></td>
						  			<td th:text="${l.m_name}"></td>
						  			<td th:text="${l.m_gender}"></td>
									<td><a th:href="@{/stuCounselList(memberId=${l.m_id})}">조회</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /col-lg-3 -->
				</div>					
	<!--********************** 1panel End ****************-->
				<div class="col-lg-9 main-chart col-lg-pull-3">     			
       				<div class="content-panel">
						<div class="form-panel ">
							<h2>상담기록</h2>
							<br/>
							<a th:href="@{/stuCounselInsert(m_id=${stuCounselUpdateForm.m_id})}"><button type="button" class="btn btn-theme pull-right">등록</button></a>
							<br/>
							<br/>
							<table id="counselList" class="table table-striped table-advance table-hover">
								<thead>
									<tr>
										<th>상담코드</th>
										<th>등록자아이디</th>
										<th>학생아이디</th>
										<th>상담종류</th>
										<th>상담제목</th>
										<th>등록날자</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="l:${stuCounselList}">
										<td th:text="${l.stu_counsel_code}"></td>
										<td th:text="${l.admin_id}"></td>
										<td th:text="${l.m_id}"></td>
										<td th:text="${l.counsel_cate}"></td>
										<td th:text="${l.counsel_title}"></td>
										<td th:text="${l.counsel_date}"></td>										
									</tr>							    
								</tbody>
							</table>
						</div>
					</div>
				</div>
		
	<!-- ***********************상담목록 **************************-->
				<div class="col-lg-9 main-chart col-lg-pull-3">     			
          			<div class="content-panel">
						<div class="form-panel">
							<form action="/stuCounselUdpate" class="form-horizontal style-form" method="post">
								<h2>상담내용</h2>
								<br/>
								<br/>
								<input id="stu_counsel_code" name="stu_counsel_code" type="hidden" th:value="${stuCounselUpdateForm.stu_counsel_code}">
								<input id="memberId" name="m_id" type="hidden" th:value="${stuCounselUpdateForm.m_id}">
								<label for="title">제목</label>
								<input id="counsel_title" name="counsel_title" type="text" class="form-control" th:value="${stuCounselUpdateForm.counsel_title}">
								<br/>
								<label for="user">작성자</label>
								<input id="admin_id" name="admin_id" type="text" class="form-control" th:value="${stuCounselUpdateForm.admin_id}" readonly>
								<br/>
								<label for="comment">내용</label>
								<textarea id="counsel_desc" name="counsel_desc" class="form-control" rows="15"  th:text=${stuCounselUpdateForm.counsel_desc}></textarea>
								<br/>
								<label for="date">등록날자</label>
								<input id="counsel_date" name="counsel_date" type="date" class="form-control" th:value="${stuCounselUpdateForm.counsel_date}">
								<br/>
								<label for="etc">상담종류</label>
								<input id="counsel_cate" name="counsel_cate" type="text" class="form-control" th:value="${stuCounselUpdateForm.counsel_cate}">
								<br/>
								<button type="submit" class="btn btn-theme">저장</button>
								<button type="button"class="btn btn-danger btnDelete" data-toggle="modal" th:data-stu_counsel_code="${stuCounselUpdateForm.stu_counsel_code}">삭제</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<!-- *******************The Modal**********************l -->
						  <div class="modal fade" id="deleteModal">
						    <div class="modal-dialog modal-sm">
						      <div class="modal-content">
						        <div class="modal-body">
						          	<h4>정말 삭제하시겠습니까?</h4>
						        </div>
						        <div class="modal-footer">
						          <button class="btn btn-danger" id="deleteBtn">YES</button>
						        </div>
						      </div>
						     </div>
						   </div>
	<!-- *****************The Modal END********************* -->

	<script type="text/javascript">
	//삭제버튼 클릭시 모달창 
		$('.btnDelete').click(function(){
			var stu_counsel_code = $(this).attr('data-stu_counsel_code');
			//alert(stu_counsel_code);
			$('#deleteBtn').val(stu_counsel_code);
			$('#deleteModal').modal('show');		
		});
		
		$('#deleteBtn').click(function(){
			var stu_counsel_code = $(this).val();
			//alert(stu_counsel_code);
			
			location.href = '/stuCounselDelete?stu_counsel_code=' + stu_counsel_code;
		});
		
	//테이블 행 클릭시 정보 전달
		$('#counselList tr').click(function(){
			//배열 선언
			var tdArr = new Array();
			
			//테이블 값들
			var tr = $(this);
			var td = tr.children();
			console.log('클릭한 테이블의 값들' + tr.text());	
			
			//반복문으로 배열에 테이블값 push
			td.each(function(i){
				tdArr.push(td.eq(i).text());
			});
			
			var counsel_code = td.eq(0).text();
			var mId = td.eq(2).text();
			
			//console.log('상담코드 <---' + counsel_code);
		
			location.href = '/stuCounselUpdateForm?counsel_code='+ counsel_code + '&mId=' + mId;
			
		});
	
	//움직이는배너
	$(document).ready(function(){
		var benerTop = parseInt($('#bener').css('top'));
		console.log(benerTop + '<-- benerTop');
		
		$(window).scroll(function(){
			//현제 스크롤 위치
			var scrollTop = $(window).scrollTop();
			//console.log(scrollTop + '<---현제 스크롤 위치');
			var newBenerTop = scrollTop + benerTop + "px";
			//console.log(newBenerTop + '<---newBenerTop');
			
			//#bener top부분을 스크롤할때마다 top 위치를 바꿔줌
			$('#bener').stop().animate({'top' : newBenerTop}, 500);
		}).scroll();
	});
	</script>
	</th:block>
</html>