 	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
	
 	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-12 main-chart">     			
          			<div class="content-panel">
            		    <div class="form-panel">           		    
			             <div id="page-wrapper">	
			             </div>
						<h1 class="page-header">게시판생성</h1>				
			              <br/>
			              <br/>
			              <form class="form-horizontal style-form" method="get"></form>			          
					<div class="panel panel-default">		
					<ul class="nav nav-tabs" id="anc-bo-tab">
					    <li class="active"><a href="#anc-bo-basic" data-toggle="tab">기본 설정</a></li>
					    <li><a href="#anc-bo-auth" data-toggle="tab">권한 설정</a></li>
					    <li><a href="#anc-bo-function" data-toggle="tab">기능 설정</a></li>					    
					</ul>		
		<div class="tab-content container">
	<div class="tab-pane active" id="anc-bo-basic">
		<h2>게시판 기본 설정</h2>
		<br/>
		<br/>
		<div class="table-responsive">
			<table class="table">
			<colgroup>
				<col class="grid_4">
				<col>
				<col class="grid_3">
			</colgroup>
			<tbody>
			<tr>
				<th scope="row"><label for="bo_table">게시판제목<strong class="sr-only">필수</strong></label></th>
				<td colspan="2">
				<input type="text" name="bo_table" value="" id="bo_table" required  class=" required alnum_" maxlength="20">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    </td>
			</tr>
			<tr>			
				<th scope="row"><label for="gr_id">카테고리<strong class="sr-only">필수</strong></label></th>
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm"><option value="">선택</option>
					<option>공지사항</option>
					<option>자료</option>
					<option>Q&A</option>
					<option>입시뉴스</option>				
				</select>													
				</td>					
			</tr>
			<tr>
				<th scope="row"><label for="bo_table">게시판관리자<strong class="sr-only">필수</strong></label></th>
				<td colspan="2">
				<input type="text" name="bo_table" id="bo_table" required  class=" required alnum_" maxlength="20" placeholder="admin">					
		    </td>		    
			</tr>	
			<tr>
				<th scope="row"><label for="bo_table">글쓰기<strong class="sr-only">필수</strong></label></th>
				<td colspan="2">
				<div class="form-group">			                  
	                   <div class="form-group">
						  <textarea class="form-control"></textarea>
						</div>
	             	     </div>
		  		 	 </td>	
		  		 	 </tr>
				</tbody>			
			</table>
			<div style="text-align:center">
	          	<a href="boardList"><button type="submit" class="btn btn-theme btn-lg">확인</button></a>
	        </div>	
		</div>
	</div><!-- /#anc-bo-auth -->
	<div class="tab-pane" id="anc-bo-function">
		<h2>게시판 기능 설정</h2>
		<br/>
		<br/>
		<div class="table-responsive">
			<table class="table">			
			<colgroup>
				<col class="grid_4">
				<col>
				<col class="grid_3">
			</colgroup>
			<tbody>
			<tr>									
				<th scope="row"><label for="bo_count_modify">원글 수정 불가<strong class="sr-only">필수</strong></label></th>						
				<td>			
					<div class="col-sm-7">
	             	   <input type="text" class="form-control" placeholder="1">댓글1개 이상이면 삭제불가
	                </div>
	                </td>
	                <td>
					<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용					
				     </td>                      		
				</tr>				
				<tr>
				<th scope="row"><label for="bo_count_modify">원글 삭제 불가<strong class="sr-only">필수</strong></label></th>
				<td>	
					<div class="col-sm-7">
	             	   <input type="text" class="form-control" placeholder="1">댓글1개 이상이면 삭제불가
	                </div>
					</td>
	                <td>
					<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용					
				     </td> 										
				</tr>
				<tr>								
				 <th scope="row"><label for="bo_count_modify">비밀글사용<strong class="sr-only">필수</strong></label></th>												
				  <td>
					<select id="gr_id" name="gr_id" class="form-control input-sm" required style="width:120px;height:30px;">
					<option>사용하지 않음</option>
					<option>체크후 사용</option>
					<option>무조건</option>												
				</select>																
			     </td>
		  	  	 <td>				  	
					<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용
				 </td>	
				</tr>
				<tr>				
				<th scope="row"><label for="bo_count_modify">추천사용<strong class="sr-only">필수</strong></label></th>								
				  	<td>
				  	<input type="checkbox" class="form-check-input" name="optradio">사용		
				  	<td>						
				  	<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용			
					</td>																						
				</tr>
				<tr>				
				<th scope="row"><label for="bo_count_modify">비추천사용<strong class="sr-only">필수</strong></label></th>								
				  	<td>
				  	<input type="checkbox" class="form-check-input" name="optradio">사용		
				  	<td>						
				  	<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용			
					</td>																						
				</tr>
				<tr>				
				<th scope="row"><label for="bo_count_modify">이름실명사용<strong class="sr-only">필수</strong></label></th>	
					<td>							
				  	<input type="checkbox" class="form-check-input" name="optradio">사용	
				  	<td>	
				  	<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용			
					</td>																						
				</tr>
				<tr>				
				<th scope="row"><label for="bo_count_modify">전체목록보이기사용<strong class="sr-only">필수</strong></label></th>								
				  	<td>
				  	<input type="checkbox" class="form-check-input" name="optradio">사용		
				  	<td>						
				  	<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용			
					</td>																						
				</tr>
				<tr>				
				<th scope="row"><label for="bo_count_modify">최대글수제한<strong class="sr-only">필수</strong></label></th>								
				  	<td>
				  	<div class="col-sm-5">
	             	   <input type="text" class="form-control">
	                </div>
				  	<td>						
				  	<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용			
					</td>																						
				</tr>
				<tr>				
				<th scope="row"><label for="bo_count_modify">최대댓글수제한<strong class="sr-only">필수</strong></label></th>								
				  	<td>
				  	<div class="col-sm-5">
	             	   <input type="text" class="form-control">
	                </div>		
				  	<td>						
				  	<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용			
					</td>																						
				</tr>		
				<tr>				
				<th scope="row"><label for="bo_count_modify">제목글자수제한<strong class="sr-only">필수</strong></label></th>								
				  	<td>
				  	<div class="col-sm-5">
	             	   <input type="text" class="form-control">
	                </div>
				  	<td>						
				  	<input type="checkbox" class="form-check-input" name="optradio">그룹적용				
					<input type="checkbox" class="form-check-input" name="optradio">그룹전체적용			
					</td>																						
				</tr>
				<tr>				
				<th scope="row"><label for="bo_count_modify">욕설글,비방글 필터링<strong class="sr-only">필수</strong></label></th>								
				  	<td>
				<div class="form-group">			                  
	                  <div class="col-sm-5">
	                   <input type="radio" class="form-check-input" name="optradio">사용함
	                   <div class="form-group">
						  <textarea class="form-control"></textarea>
						</div>
	                  </div>
	                </div>   
	                </td>
	                </tr>
				</tbody>
				</table>
				<div style="text-align:center">
	          		<a href="boardList"><button type="submit" class="btn btn-theme btn-lg">확인</button></a>
        		</div>				
				</div>				
				</div>	
				<div class="tab-pane" id="anc-bo-auth">
		<h2 >게시판 권한 설정</h2>
		<br/>
		<br/>
		<div class="table-responsive">
			<table class="table">			
			<colgroup>
				<col class="grid_4">
				<col>
				<col class="grid_3">
			</colgroup>
			<tbody>
			<tr>
				<th scope="row"><label for="bo_admin">게시판 관리자</label></th>
				<td>
					<input type="text" name="bo_admin" value="" id="bo_admin" class="form-control" maxlength="20">
				</td>
				<td class="td_grpset">
					<input type="checkbox" name="chk_grp_admin" value="1" id="chk_grp_admin">
					<label for="chk_grp_admin">그룹적용</label>
					<input type="checkbox" name="chk_all_admin" value="1" id="chk_all_admin">
					<label for="chk_all_admin">전체적용</label>
				</td>
			</tr>
			<tr>
				<th scope="row"><label for="bo_list_level">목록보기 권한</label></th>				
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm" required>
					<option value="">선택</option>
					<option>전체</option>
					<option>관리자</option>
					<option>강사</option>
					<option>수강생</option>								
				</select>													
				</td>	 
  			</tr>
  			<tr>
				<th scope="row"><label for="bo_list_level">글읽기 권한</label></th>				
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm" required>
					<option value="">선택</option>
					<option>전체</option>
					<option>관리자</option>
					<option>강사</option>
					<option>수강생</option>								
				</select>													
				</td>	 
  			</tr>
  			<tr>
				<th scope="row"><label for="bo_list_level">글쓰기 권한</label></th>				
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm" required>
					<option value="">선택</option>
					<option>전체</option>
					<option>관리자</option>
					<option>강사</option>
					<option>수강생</option>								
				</select>													
				</td>	 
  			</tr>
  			<tr>
				<th scope="row"><label for="bo_list_level">글답변 권한</label></th>				
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm" required>
					<option value="">선택</option>
					<option>전체</option>
					<option>관리자</option>
					<option>강사</option>
					<option>수강생</option>								
				</select>													
				</td>	 
  			</tr>
  			<tr>
				<th scope="row"><label for="bo_list_level">댓글쓰기 권한</label></th>				
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm" required>
					<option value="">선택</option>
					<option>전체</option>
					<option>관리자</option>
					<option>강사</option>
					<option>수강생</option>								
				</select>													
				</td>	 
  			</tr>
  			<tr>
				<th scope="row"><label for="bo_list_level">링크 권한</label></th>				
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm" required>
					<option value="">선택</option>
					<option>전체</option>
					<option>관리자</option>
					<option>강사</option>
					<option>수강생</option>								
				</select>													
				</td>	 
  			</tr>
  			<tr>
				<th scope="row"><label for="bo_list_level">업로드 권한</label></th>				
				<td colspan="2">
					<select id="gr_id" name="gr_id" class="form-control input-sm" required>
					<option value="">선택</option>
					<option>전체</option>
					<option>관리자</option>
					<option>강사</option>
					<option>수강생</option>								
				</select>													
				</td>	 
  			</tr> 
  			<tr>
				<th scope="row"><label for="bo_list_level">권한이 없을 경우</label></th>		
				<td>						
				<div class="form-group">		
	                 <div class="col-sm-2">	                 
	                   경고메세지:	 <input type="text" placeholder="권한이없습니다">		
	                </div>	                    
	                </div>	
	                </td>	                
                    <td>                    
                <div>경고후이동페이지: <input type="text"></div> 		           													
				</td>	 
  			</tr> 			
    </tbody>   
    </table>
    <div style="text-align:center">
         	<a href="/boardList"><button type="submit" class="btn btn-theme btn-lg">확인</button></a>
        </div>
    </div>   
    </div>
    </div>  
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </section>
    </th:block>
    </html>