<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.eduManger.ProfessorMapper.ProfesCarMapper">

<!-- 강사이력 리스트 -->
<select id="ProfesCarList" resultType="com.cafe24.eduManger.ProfessorVo.ProfesCar">
	SELECT 
		idprcar_code AS car_code
		, member_id AS pr_id
		, member2_id AS ad_id
		, idprcar_title AS car_title
		, idprcar_co AS car_co
		, idprcar_co_start AS car_co_start
		, idprcar_co_end AS car_co_end
		, idprcar_date AS date
	FROM 
		profes_car
</select>


<!-- 강사이력 삭제 -->
<delete id="ProfesCarDelete" parameterType="ProfesCar">
	DELETE FROM 
		profes_car 
	WHERE 
		idprcar_code AS car_code=#{idprcarDel}
</delete>

</mapper>