<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.or.ksmart.eduManger.MainMapper.MainMapper">
 	<select id="bookList" resultType="kr.or.ksmart.eduManger.BooksVo.Books">
	 	SELECT
		*
		FROM tb_books
 	</select>
 	
	<select id="memberList" resultType="kr.or.ksmart.eduManger.memberVo.Member">
	 	SELECT
		*
		FROM tb_member
 	</select>
 	
 	<select id="sangdamList" resultType="kr.or.ksmart.eduManger.sangdamVo.Sangdam">
 		SELECT
		*
		FROM tb_sangdam
 	</select>
 	
 	<select id="roomList" resultType="kr.or.ksmart.eduManger.RoomVo.Room">
 		SELECT
		*
		FROM tb_room
 	</select>
 </mapper>