<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.eduManger.AcademyMapper.BusMapper">
 	<select id="getBusList" resultType="com.cafe24.eduManger.AcademyVo.Bus">
 	
	 	SELECT 
		 	bus_code
		 	,member_id
		 	,ac_code
		 	,bus_number
		 	,bus_cate
		 	,bus_driver
		 	,bus_driver_phone
		 	,bus_num
		 	,bus_limit
		 	,bus_date
		 	,line_select
		 	
		FROM 
			bus
		
 	</select>
 
 	<select id="getBusUpdate" parameterType="String" resultType="com.cafe24.eduManger.AcademyVo.Bus">
 
 	SELECT 
 		bus_code
 		,member_id
 		,ac_code
 		,bus_number
 		,bus_cate
 		,bus_driver
 		,bus_driver_phone
 		,bus_num
 		,bus_limit
 		,bus_date
	FROM 
		bus
	WHERE 	
		bus_code=#{bus}

	
	</select>
 
	<delete id="getBusDelete" parameterType="String">
		
		DELETE FROM 
			bus 
		WHERE 
			bus_code=#{bus}
		
	</delete>
 
<insert id="getBusInsert" parameterType="com.cafe24.eduManger.AcademyVo.Bus">
 	INSERT INTO 
 		bus
		(bus_code
		,member_id
		,ac_code
		,bus_number
		,bus_cate
		,bus_driver
		,bus_driver_phone
		,bus_num
		,bus_limit
		,bus_date
		,line_select)
	VALUES 
		(#{bus_code}, #{member_id}, #{ac_code}, #{bus_number}, #{bus_cate}, #{bus_driver}, #{bus_driver_phone}, #{bus_num}, #{bus_limit},NOW(), #{line_select})
 
 </insert>
 
 </mapper>