<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.eduManger.AcademyMapper.BustimeMapper">
 <select id="getBusTimeList" resultType="com.cafe24.eduManger.AcademyVo.Bustime">
 
	 SELECT 
	 	bus_time_code
		 	,member_id
		 	,ac_code
		 	,bus_A_time
		 	,bus_B_time
		 	,car_info
		 	,bus_station
		 	,bus_day
		 	,bus_time_date
		FROM 
			bus_time
 
 </select>
 
 <select id="getBustimeUpdate" parameterType="String" resultType="com.cafe24.eduManger.AcademyVo.Bustime">
 
 SELECT 
	 	bus_time_code
	 	, member_id
	 	, ac_code
	 	, bus_A_time
	 	, bus_B_time
	 	, car_info
	 	, bus_station
	 	, bus_day
	 	, bus_time_date
	FROM 
		bus_time	
	WHERE 
		bus_station=#{busstation}
 
 </select>
 
 </mapper>