<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.eduManger.AcademyMapper.DiscountMapper">

	<select id="discountList" resultType="com.cafe24.eduManger.AcademyVo.Discount">
	SELECT 
		d.discount_code		AS discount_code, 
		d.member_id			AS member_id, 
		m.member_name		AS m_name,
		d.ac_code			AS ac_code, 
		d.discount_cate		AS discount_cate, 
		d.discount_content	AS discount_content, 
		d.discount_date		AS discount_date
	FROM 
		discount d
	INNER JOIN
		member m
	ON
		d.member_id = m.member_id
	</select>
</mapper>