<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.eduManger.AcademyMapper.PriceLectureMapper">

	<select id="priceLectureList" resultType="com.cafe24.eduManger.AcademyVo.PriceLecture">
		SELECT
			price_list_code, 
			ac_code, 
			lecture_code, 
			member_id, 
			lecture_price, 
			price_list_etc, 
			price_list_date
		FROM 
			price_lecture
	</select>

	<insert id="priceLectureInsert">
	INSERT INTO price_lecture
		(
		price_list_code, 
		ac_code, 
		lecture_code, 
		member_id, 
		lecture_price, 
		price_list_etc, 
		price_list_date
		)
	VALUES 
		(
		'priceList003', 
		'ac001', 
		'lecture003', 
		'idad001', 
		300000, 
		'월 주5회', 
		NOW()
		)
	</insert>


</mapper>

