<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="footer" th:fragment="footerFragment">
	  <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; 한국스마트정보교육원 <strong>3조 팀프로젝트</strong>. 학원 통합관리 시스템
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          	조원 <a href="https://templatemag.com/">김광준, 백X산, 이X윤, 이X율 </a>
        </div>
        <a href="index.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
	
</div>