<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="leftmenu" th:fragment="leftmenuFragment">
	  <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Sam Soffes</h5>
          <li class="mt">
            <a class="active" href="/">
              <i class="fa fa-dashboard"></i>
              <span>메인</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>회원관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#회원등록4</a></li>
              <li><a href="/memberList">#회원목록4</a></li>
              <li><a href="/memberInsert">회원등록</a></li>
              <li><a href="/memberList">회원목록</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>강사관리</span>
              </a>
            <ul class="sub">
              <li><a href="plectureInsert">강사담당수업</a></li>
              <li><a href="plectureList">강사근태</a></li>
              <li><a href="professor/professorCareer/professorCareerList">#강사이력-sy</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>#학생관리</span>
              </a>
            <ul class="sub">
              <li><a href="/stuLecture">#학생개인수강목록-sy</a></li>
              <li><a href="/stuScore">#학생출결현황4</a></li>
              <li><a href="/stuCounsel">#학생개인상담목록4</a></li>
              <li><a href="/stuCounsel">#학생개인별 성적정보-sy</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-cogs"></i>
              <span>#강의관리</span>
              </a>
            <ul class="sub">
              <li><a href="/subject">#현재개설된 과목-sy</a></li>
              <li><a href="/lecture">#현재개설된 강의 전체리스트-sy</a></li>
              <li><a href="/lectureStuList">#개설된 강의를 신청한 수강생목록-sy</a></li>
              <li><a href="/classLevel">#학년 및 수업과정분류-sy</a></li>
              <li><a href="/room">#강의실목록</a></li>
              <li><a href="/acTimeTable">#시간표</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>#학원관리</span>
              </a>
            <ul class="sub">
              <li><a href="/boardList">#게시판관리</a></li>
              <li><a href="#">#차량관리</a></li>
              <li><a href="#">#수납</a></li>
              <li><a href="#">#직원급여관리</a></li>
              <li><a href="#">#학원정보관리</a></li>
              <li><a href="#">#상담관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>#문자발송</span>
              </a>
            <ul class="sub">
              <li><a href="#">Form Components</a></li>
              <li><a href="#">Advanced Components</a></li>
              <li><a href="#">Form Validation</a></li>
              <li><a href="#">Contact Form</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-th"></i>
              <span>#계약</span>
              </a>
            <ul class="sub">
              <li><a href="#">Basic Table</a></li>
              <li><a href="#">Responsive Table</a></li>
              <li><a href="#">Advanced Table</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
</div>
</html>