<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="leftmenu" th:fragment="leftmenuFragment">
	  <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        <!--  사진 -->
          <p class="centered"><a href="#profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h4 class="centered" style="color:#ffffff"> [[${session.SNAME}]]</h4>
          <h5 id="level" class="centered" > [[${session.SLEVEL}]] </h5>
          <li class="mt">
            <a class="active" href="/">
              <i class="fa fa-dashboard"></i>
              <span>메인</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>회원관리</span>
              </a>
            <ul class="sub">
              <li><a href="/memberInsertIndex">회원등록</a></li>
              <li><a href="/memberList">회원목록</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>!강사관리</span>
              </a>
            <ul class="sub">
              <li><a href="/proLectureList">!강사담당수업</a></li>
              <li><a href="/workTimeList">!강사근태</a></li>
              <li><a href="/getprofesCareer">!강사상세정보</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>!학생관리</span>
              </a>
            <ul class="sub">
              <li><a href="/stuPi">학생상세정보조회</a></li>
              <li><a href="/getstuLecture">!학생개인수강목록-sy</a></li>
              <li><a href="/attendData">!학생출결현황</a></li>
              <li><a href="/stuCounsel">학생개인상담목록</a></li>
              <li><a href="/getStuScoreList">!학생개인별 성적정보-sy</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-cogs"></i>
              <span>!강의관리</span>
              </a>
            <ul class="sub">
              <li><a href="/getsubjectList">!현재개설된 과목-sy</a></li>
              <li><a href="/getlecture">!개설된 강의 전체리스트-sy</a></li>
              <li><a href="/getlectureStuGroupList">!강의를 신청한 수강생목록-sy</a></li>
              <li><a href="/getclassLevel">!학년 및 수업과정분류-sy</a></li>
              <li><a href="/roomList">!강의실목록</a></li>
              <li><a href="/academyTimeTableList">!시간표</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>!학원관리</span>
              </a>
            <ul class="sub">
              <li><a href="/boardList">!게시판관리</a></li>
              <li><a href="/busList">!차량관리</a></li>
              <li><a href="/buslineList">!차량노선관리</a></li>
              <li><a href="/busTimeList">!차량시간표</a></li>            
              <li><a href="/incomeList">!수납 및 납부 안내</a></li>
              <li><a href="/priceLectureList">!수강료 및 할인 정보</a></li>
              <li><a href="/payList">!직원급여관리</a></li>
              <li><a href="/academyInfo">!학원정보관리</a></li>              
              <li><a href="/smsInsert">!문자발송</a></li>
            </ul>
          </li>          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-th"></i>
              <span>!계약</span>
              </a>
            <ul class="sub">
              <li><a href="/contractList">!계약목록</a></li>
              <li><a href="/contractPriceList">!계약단가표</a></li>
              <li><a href="/contractAcademyList">!계약지점목록</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
</div>
</html>