<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-12 main-chart">
				<div class="content-panel">
            		    <div class="form-panel">
					 <h2 class="mb"><i class="fa fa-angle-right"></i>강의추가화면</h2> 
					<br/>
					<div class="container">
<!-- ******************************************************************************************************************
		강의추가폼
****************************************************************************************************************** -->	
						<form action="/lectureInsert" method="post">
						강사아이디 
						<select class="form-control" id="m_id" name="m_id" style="width:400px;">
							<option>강사선택하기</option>
							<option th:each="l:${lecInsertList}" th:value="${l.m_id}" th:text="${l.m_id}"></option>
						</select>	
						<br/><br/>
						강의실코드
						<select class="form-control" id="room_code" name="room_code" style="width:400px;">
							<option>강의실선택하기</option>
							<option th:each="l:${lecInsertList}" th:value="${l.room_code}" th:text="${l.room_code}"></option>
						</select>	
						<br/><br/>
						과목코드
						<select class="form-control" id="sub_code" name="sub_code" style="width:400px;">
							<option>과목선택하기</option>
							<option th:each="l:${lecInsertList}" th:value="${l.sub_code}" th:text="${l.sub_code}"></option>
						</select>	
						<br/><br/>
						학년 및 수업과정 분류 코드
						<select class="form-control" id="clle_code" name="clle_code" style="width:400px;">
							<option>학년 및 수업과정 분류 코드</option>
							<option th:each="l:${lecInsertList}" th:value="${l.clle_code}" th:text="${l.clle_code}"></option>
						</select>	
						<br/><br/>
						<table>
							<tr>
								<td>
									강의시작일(yyyy-mm-dd) <!-- lectureEndDat가 lectureStartDate보다 앞에 올수 없게 하고싶다..! 찾아보자 -->
								</td>
								<td>
									~
								</td>
								<td>
									강의종료일(yyyy-mm-dd)
								</td>
							</tr>
							<tr>
								<td>
									<input type="date" id="lec_start" name="lec_start" class="form-control" style="width:400px;"> 
								</td>
								<td>
									~ 
								</td>
								<td>
									<input type="date" id="lec_end" name="lec_end" class="form-control pull-rignt" style="width:400px;">
								</td>
							</tr>
						</table>
						<br/>
						<button type="submit" class="btn btn-theme"> 추가 </button>
						</form>
						
<!-- ******************************************************************************************************************
		강의추가폼END
****************************************************************************************************************** -->						
						</div>
						</div><!-- form-panelEnd -->
					</div><!-- content-panel divEnd -->
				</div> <!-- grid divEnd -->
			</div>	
		</section>
	</section>
	</th:block>
</html>
          