<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<style>
		#btnBox { text-align: center; }
	</style>
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">     			
          			<div class="content-panel">
            		    <div class="form-panel">
							<h2 class="mb"><i class="fa fa-angle-right"></i> 학원비 납부 안내 추가</h2>
							<form action="/priceInfoInsert" class="form-horizontal style-form" method="post">
				                <!-- <div class="form-group">  style="display:none"
				                  <label class="col-sm-2 col-sm-2 control-label">학원비 납부 안내 코드</label>
				                  <div class="col-sm-10">
				                    <input id="price_list_code" name="price_list_code" type="text" class="form-control" />
				                  </div>
				                </div> -->
				                <!-- <div class="form-group">
				                  <label class="col-sm-2 col-sm-2 control-label">학원 코드</label>
				                  <div class="col-sm-10">
				                    <input id="ac_code" name="ac_code" type="text" class="form-control" th:value="${session.SACODE}" />
				                  </div>
				                </div> -->
				                <div class="form-group">
				                  <label class="col-sm-2 control-label">이름</label>
				                  <div class="col-sm-4">
								  	<input id="member_name" name="member_name" type="text" class="form-control" />
				                  </div>
				                  <label class="col-sm-2 control-label">학교</label>
				                  
				                  <div class="col-sm-4">
								  	<input id="stu_school" name="stu_school" type="text" class="form-control" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 control-label">강의 종류</label>
				                  <div class="col-sm-10">
				                  	<div class="col-sm-4">
								  	  <select id="sub_code" name="sub_code" class="form-control">
								  	    <option value="">선택</option>
								  		<option th:each="sList: ${subjectList}" th:value="${sList.sub_code}" th:text="${sList.sub_name}"></option>
								  	  </select>
								  	</div>
									<div class="col-sm-4">
									  <select id="class_level_code" name="class_level_code" class="form-control">
									  	<option value="">선택</option>
									    <option th:each="cList: ${classLevelList}" th:value="${cList.class_level_code}" th:text="${cList.class_grade} +' - '+ ${cList.class_course}"></option>
									  </select>
									</div>
									<div class="col-sm-4">
									  <select id="price_list_etc" name="price_list_etc" class="form-control">
									  	<option value="">선택</option>
									    <option th:each="p: ${pList}" th:value="${p.price_list_etc}" th:text="${p.price_list_etc}"></option>
									  </select>
									</div>
				                  </div>
				                </div>
				                <!-- <div class="form-group">
				                  <label class="col-sm-2 control-label">강의종류(코드)</label>
				                  <div class="col-sm-10">
								  	<input id="lecture_code" name="lecture_code" type="text" class="form-control" value="" />
				                  </div>
				                </div> -->
				                <div class="form-group">
				                  <label class="col-sm-2 control-label">등록자아이디</label>
				                  <div class="col-sm-10">
				                    <input id="member_id" name="member_id" class="form-control" type="text" th:value="${session.SID}" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 control-label">수강료</label>
				                  <div class="col-sm-10">
				                    <input id="lecture_price" name="lecture_price" class="form-control" type="text" />
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 control-label">할인선택</label>
				                  <div class="col-sm-10">
				                    <div class="radio">
				                    	<label class="col-sm-2">
						                  <input type="radio" class= "discount_code" name="discount_code" value="discount1" checked />
						                  	해당사항없음
						                </label>
						                <label class="col-sm-2">
						                  <input type="radio" class= "discount_code" name="discount_code" value="discount2" />
						                  	첫등록할인
						                </label>
						                <label class="col-sm-2">
						                  <input type="radio" class= "discount_code" name="discount_code" value="discount3" />
						                  	형제자매할인
						                </label>
						                <label class="col-sm-2">
						                  <input type="radio" class= "discount_code" name="discount_code" value="discount4" />
						                  	성적우수할인
						                </label>
						             </div>
				                  </div>
				                </div>
				                <div class="form-group">
				                  <label class="col-sm-2 control-label">납부금액</label>
				                  <div class="col-sm-10">
				                    <input id="price_info_desc" name="price_info_desc" type="text" class="form-control" value=""/>
				                  </div>
				                </div>
				                <!-- <div class="form-group">
				                  <label class="col-sm-2 control-label">등록날짜</label>
				                  <div class="col-sm-10">
				                    <input id="price_list_date" name="price_list_date" type="date" class="form-control" />
				                  </div>
				                </div> -->
				                <div style="text-align:center">
				                	<button type="submit" class="btn btn-theme btn-lg">추가하기</button>
				                </div>			
			              </form>
			            </div>
					</div>
				</div>
			<!-- *********************right panel************************** -->
		
				<div id="bener" class="col-lg-3 ds">
					         <!--COMPLETED ACTIONS DONUTS CHART-->
					<div class="donut-main">
				<!--********** 조건입력창************** -->
					<h2>학생리스트</h2>
					<br/>
					<form method="post">
						<div class="row" >
							<div class="col-sm-4" >							
								<span class="input-group">
									<select name="sk" class="form-control">
										<option value="select">선택</option>
										<option value="a.stu_id">아이디</option>
										<option value="member_name">이름</option>											
									</select>	
								</span>			 									  	
							</div>	
							<div class="col-sm-8">																		
								<div class="input-group">
									<input name="sv" type="text" class="form-control" placeholder="Search" >
									<span class="input-group-btn">
										<button type="button" class="btn btn-theme">회원검색</button>									
									</span>
								</div>
							</div>
						</div>
					</form>
				<!--  **********조건입력END*********** -->
						<br/>
						<br/>
						<br/>		
						<table id="stupiList" class="table table-striped table-advance table-hover table-bordered">
						  	<thead>
						  		<tr>
						  			<th>아이디</th>
						  			<th>이름</th>
						  			<th>학교</th>
						  		</tr>
						  	</thead>
						  	<tbody>
						  		<tr th:each="l : ${stuList}">
						  			<td th:text="${l.stu_id}"></td>
						  			<td th:text="${l.m_name}"></td>
						  			<td th:text="${l.stu_school}"></td>
						  		</tr>
						  	</tbody>
						</table>
					</div>
					<!-- /col-lg-3 -->
				</div>
			</div>
		</section>
	</section>
	<script>
		$(document).ready(function(){
			$('#stupiList tr').click(function(){
				var tr = $(this); //클릭한 행 전체 값
				var td = tr.children(); // 행에 해당하는 자식 노드 값
				//console.log('클릭한 테이블의 값들' + tr.text());
				
				$('#member_name').val(td.eq(1).text());
				$('#stu_school').val(td.eq(2).text());
			});
			// 과목, 과정, 횟수 입력시 수강료 산출
			$('#sub_code, #class_level_code, #price_list_etc').change(function(){
				if($('#sub_code').val() != "" && $('#class_level_code').val() != "" && $('#price_list_etc').val() != ""){
					var sub_code = $('#sub_code').val(); //과목코드 값
					var class_level_code = $('#class_level_code').val(); //학년 및 수업 과정 코드 값
					var price_list_etc = $('#price_list_etc').val(); // 강의 횟수 값
					//console.log(subCode);
					//console.log(classLevelCode);
					//console.log(priceListEtc);
					$.ajax({
						type: "get",
						url: "/lecturePrice",
						datatype: "json",
						data: {"subCode": sub_code, "classLevelCode": class_level_code, "priceListEtc": price_list_etc},
						success: function(result){
							$('#lecture_price').val(result); //data 값을 매개변수로 전달한 lecture_price 메서드 호출하여 리턴받은 값을 수강료에 담는다.
							$('#price_info_desc').val(result);
							//console.log(result);
						}
					});
					
				}
			});
			$('.discount_code').change(function(){ //할인률 radio 버튼이 변경됐을 때 
				var discount_code = $('input[name="discount_code"]:checked').val();
				//console.log(discount_code);
				$.ajax({
					type: "get",
					url: "/discountPrice",
					datatype: "json",
					data: {"discountCode": discount_code},
					success: function(dCode){ //discount 테이블에서 할인률 %에서 앞의 숫자만 받아오는 메서드 호출
						var fcost = ($('#lecture_price').val() * ((100-(dCode))/100)); //수강료에서 할인률 적용시킨 결과값을 fcost 변수에 담는다.
						$('#price_info_desc').val(fcost); //납부금액 value에 fcost를 담아서 화면에 보여준다.
						
						//console.log(fcost);
					}
				});
			});
		});
	</script>
	</th:block>
</html>
           
          
           