<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.eduManger.MainMapper.MainMapper">
 	<select id="login" resultType="com.cafe24.eduManger.MemberVo.Member">
	 	SELECT 
				member_id AS m_id, 
				ac_code AS ac_code, 
				member_pw AS m_pw, 
				member_level AS m_level, 
				member_name AS m_name, 
				member_gender AS m_gender, 
				member_birth AS m_birth, 
				member_phone AS m_phone, 
				member_date AS m_date
		FROM member
		WHERE member_id = #{m_id};
 	</select>
 
 </mapper>