<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="col-lg-12 mt">
				<div class="row content-panel" style="background-color: #D9E5FF;">	         
					<div class="col-sm-10 col-lg-offset-1">
						<div class="invoice-body">
							<div class="centered">
								<h1>프로젝트 소개</h1>
								<h4><br/>LMS 기반의 오프라인 학원 관리 시스템입니다.</h4>
								<br/>
								<hr/>
							</div>
							<div class="col-sm-12">
								<h3>팀 프로젝트</h3>
								<div>
									<strong>교육과정 : 스마트웹 개발자 양성과정 (한국스마트 정보 교육원, 2019.05 ~ 2019.11)</strong> <br/>
									<strong>기간</strong> : 2019.08.12 ~ 2019.10.23 (총 72일)<br/>
									<strong>팀원</strong> : 김광준, 백X산, 이X윤, 이X율<br/>
									<strong>역할</strong> : 팀장<br/>
									<strong>담당업무</strong> : 학원관리 - 수납 및 납부안내, 수강료 및 할인 정보, 직원급여관리, 학원정보관리, 문자발송 / 계약 - 계약목록, 계약단가, 계약지점 <br/>
									<strong><br/>개발환경</strong>
									<strong><br/>OS:</strong> Windows7
									<strong><br/>Client Language:</strong> JavaScript, HTML5, CSS, jsp 2.2, jQuery
									<strong><br/>Server Language:</strong> Java, JavaScript
									<strong><br/>WAS:</strong> Apache Tomcat 
									<strong><br/>DB:</strong> MariaDB
								</div>	
								<div class="col-sm-3"><br/>
									
								</div>  
							</div>
								<div class="centered">
								<div class="col-sm-12">
								<h4><br/><br/>오른쪽 상단의 로그인 버튼을 누르고 권한별 버튼을 누르면 해당권한으로 자동 로그인 됩니다
									<br/>계약부분은 최고관리자로 로그인하시면 수정, 삭제버튼 활성화 됩니다.
								</h4>
								<h2><br/>프로젝트 Github 주소</h2>
								<h4><a href="https://github.com/PeaceNChicken/eduManger" target="_blank">바로가기</h4>
							</div>
						</div>
							<!-- /col-lg-10 -->
						</div>
					</div>
				</div>	
			</div>	
		</section>
      <!-- /wrapper -->
	</section>	
<!-- **********************************************form 화면 END******************************************************** -->
	</th:block>
</html>
           
          
           