<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="col-lg-12 mt">
				<div class="row content-panel">	         
					<div class="col-lg-10 col-lg-offset-1">
						<div class="invoice-body">
							<div class="pull-left">
								<h3>백두산</h3>
								<br/>
								<div>
								 	<strong>- 전주신흥고등학교 졸업</strong> <br/>
								 	<strong>- 한국폴리텍대학 미디어컨테츠과 중퇴</strong> <br/>
								  	<strong>- 교육 : 스마트웹 개발자 양성과정 (한국스마트 정보 교육원, 2019.05 ~ 2019.11)</strong> <br/>
								  	<strong>- 어학 : 일본어(JPLT 2급)</strong> <br/>
									<strong>- 이메일 : cagameku3842@naver.com</strong> <br/>
								</div>
							</div>
							
							  <!-- /pull-left -->
							<div class="pull-right">
								<img alt="Cinque Terre" src="img/myImage.jpg" style="width: 230px" height="300px" >
							</div>
							<!-- /pull-right -->
							<div class="clearfix"></div>
							<br>
							<br>
							<br>
							<div class="row">
								<div class="col-md-9">
									<h3>실무형 팀 프로젝트</h3>
									<div>
									 	<strong>기간</strong> : 2019.08.12 ~ 2019.10.23 (총 72일)<br>
									  	<strong>역할</strong> : 조원<br>
									  	<strong>담당업무</strong> : 학원 전체시간표 리스트,회원기본정보관리, 로그인관리, 학생 상세 정보 조회, 학생 상담내역 관리, UI및 페이지 관리 <br/>
									</div>
								</div>								
							</div>
							<br/>
							<a href="/memberInsertIndex"><button class="btn btn-theme" type="button">회원등록</button></a> <br/><br/>
							<a href="/memberList"><button class="btn btn-theme" type="button">회원기본정보 관리</button></a> <br/><br/>
							<a href="/stuPi"><button class="btn btn-theme" type="button">학생 상세정보 조회</button></a> <br/><br/>
							<a href="/stuCounsel"><button class="btn btn-theme" type="button">학생 상담내역 관리</button></a> <br/><br/>							
							<a href="/academyTimeTable"><button class="btn btn-theme" type="button">학원 전체시간표 리스트</button></a> <br/><br/>
							<br>
							<br>
						</div>
					</div>
				</div>	
			</div>	
		</section>
      <!-- /wrapper -->
	</section>
<!-- **********************************************form 화면 END******************************************************** -->
				        <!-- /row -->
			          </div>
					</div>
			</section>
		</section>
	</th:block>
</html>
           
          
           