<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<style>
		table {
			background-color : #ccffff;
		}
	</style>
	
	
	
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-2 main-chart">
				</div>
				<div class="col-lg-10 main_chart">
				
<!-- **********************************************화면 START******************************************************** -->		
		
          		
          		<!-- 내용 -->
          		<div>
          			<br/><br/> 	
	          		<h2>프로젝트 소개</h2> 
	          		<br>
	          		<p><h4>여러지점의 학원에게 시스템을 제공하고 각 지점들을 총괄해서 관리 할 수 있는 LMS 기반의 학원관리 시스템</h4></p> 
          		</div>
          		<br/> <hr> 
          		<div>   	
	          		<h3>팀프로젝트</h3>
	          		<br/>
	          		<h5>교육과정 : 스마트웹 개발자 양성과정 (한국스마트 정보 교육원, 2019.05 ~ 2019.11)</h5>
					<h5>기간 : 2019.08.12 ~ 2019.10.23 (총 72일)</h5>
					<h5>팀원 : 이서율, 백X산, 이X윤, 김X준</h5>
					<h5>역할 : 팀원</h5>
					<h5>담당업무 :</h5>
					<h5>ERD작성</h5>
					<h5>강사관리 - 강사상세정보관리</h5>
					<h5>학생관리 - 학생 개인별 성적정보관리</h5>
					<h5>강의관리 - 현재개설된과목관리, 개설된 강의 전체리스트관리, 학년 및 수업과정분류관리</h5>
					<br/>
					<h5>개발환경</h5>
					<h5>OS : windows7</h5>
					<h5>Client Language: JavaScript, HTML5, CSS, jsp2.2, jQuery</h5>
					<h5>Server Language: Java, JavaScript</h5>
					<h5>WAS: Apache Tomcat</h5>
					<h5>DB: MariaDB </h5>
					<h5>협업툴 : <a href="https://github.com/PeaceNChicken/eduManger">Github</a>  </h5>         		
          		</div>
          		<br/>
          	
          		<h3>오른쪽 상단의 로그인 버튼을 누르고 권한별 버튼을 누르면 해당권한으로 자동 로그인 됩니다</h3>
          		
          		
<!-- **********************************************화면 END******************************************************** -->

			          </div>
			          <div class="col-lg-2 main-chart">
					  </div>  
					</div>
			</section>
		</section>
	</th:block>
</html>
           
          
           