<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-9 main-chart">				
					<div class="content-panel">
            		    <div class="form-panel">
            		    
            		     <h2 class="mb"><i class="fa fa-angle-right"></i>강의를 등록한 학생 리스트</h2>
            		    	<form action="#">
            		    		<table class="table table-striped table-advance table-hover">
				               		<thead>
				               			<tr>
				               				<th>학생명</th>
				               				<th>재학중인 학교</th>
				               				<th>본인연락처</th>
				               				<th>강의등록일</th>
				               			</tr>
				               		</thead>
				               		<tbody>
				               			<tr>
				               				<td> 김1</td>
				               				<td> 전주중학교 </td>
				               				<td> 010-1111-1111</td>
				               				<td> 2019-01-01</td>
				               			</tr>
				               		</tbody>
				               	</table>
            		    	</form>
            		    </div>
            		</div>
					
					
					</div><!-- content-panel divEnd -->
					</div>
					
            		
					
				
				
				<!-- *********************right panel************************** -->
			
					<div class="col-lg-3 ds">
						         <!--COMPLETED ACTIONS DONUTS CHART-->
						<div class="donut-main">
					<!--********** 조건입력창************** -->
						<form action="/stuPiSearch" method="post">
							<div class="row" >
								<div class="col-sm-4" >							
									<span class="input-group">
										<select name="sk" class="form-control">
											<option value="select">선택</option>
											<option value="a.stu_id">아이디</option>
											<option value="b.ac_code">학원코드</option>
											<option value="member_name">이름</option>											
										</select>	
									</span>			 									  	
								</div>	
								<div class="col-sm-8">																		
									<div class="input-group">
										<input name="sv" type="text" class="form-control" placeholder="Search" >
										<span class="input-group-btn">
											<button type="submit" class="btn btn-theme">검색</button>									
										</span>
									</div>
								</div>
							</div>
						</form>
					<!--  **********조건입력END*********** -->
							<br/>
							<br/>
							<br/>		
							<table class="table table-striped table-advance table-hover table-bordered">
							  	<thead>
							  		<tr>
							  			<th>강의코드</th>
							  			<th>강의실코드</th>
							  			<th>강사코드</th>
							  			<th>과목</th>
							  		</tr>
							  	</thead>
							  	<tbody>
							  		<tr th:each="l : ${}">
							  			<td th:text="${}"></td>
							  			<td th:text="${}"></td>
							  			<td th:text="${}"></td>
							  			<td th:text="${}"></td>
							  			<td><a th:href="@{}">조회</a></td>
							  		</tr>
							  	</tbody>
							</table>
						</div> <!-- /col-lg-3 -->
				
				</div>
				
		</section>
	</section>
	</th:block>
</html>
          