<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
</head>
	<th:block layout:fragment="customTitle">
		<title>index</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-sm-4 main-chart">
				<div class="content-panel">
            		    <div class="form-panel">
					<h2 class="mb"><i class="fa fa-angle-right"></i> 강사 경력정보</h2>
					<br/>
					<div class="container">
					<!-- ************************************************* 
							검색하기 
						*************************************************-->
					<select>
						<option>검색목록</option>
						<option>과목코드</option>
						<option>학원코드</option>
						<option>과목명</option>
					</select>>
					<input type="text"> 
					<button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-search"></i></button>
					<!-- *************************************************
							검색END 
						*************************************************-->
					<button type="button" class="btn btn-theme">정보 추가하기</button>
					<!-- *************************************************
							강사 경력정보 리스트 
						*************************************************-->
						 <table class="table table table-striped table-advance table-hover">
						    <thead>
						      <tr>
						        <th>강사경력정보코드</th>
						        <th>강사아이디</th>
						        <th>강사이력</th>
						        <th>기관명</th>
						        <th>기관근무시작일</th>
						        <th>기관근무종료일</th>
						        <th>등록자아이디</th>
						        <th>정보등록일</th>
						        <th>수정</th>
						        <th>삭제</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>idprcar001</td>
						        <td>idpr01</td>
						        <td>하버드수석입학</td>
						        <td>하버드대학교</td>
						        <td>2007-10-11</td>
						        <td>2011-11-12</td>
						        <td>idad001</td>
						        <td>2019-12-31</td>
						        <td><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></td>
						        <td><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></td>
						      </tr>
						     
						    </tbody>
						  </table>
					</div> <!-- table divEnd -->
					</div> <!-- content-panelEnd -->
					</div> <!-- form-panelEnd -->
				</div> <!-- grid div4End -->
				<!-- *************************************************
					강사 경력사항 상세정보	 
						*************************************************-->
				<div class="col-sm-8 main-chart">
				</div> <!-- grid div8End -->
			</div>
		</section>
	</section>
	</th:block>
</html>
          